<?xml version="1.0" encoding="utf-8" ?>
<plugin>
  <platform>wp8</platform>
  <description>Open an mp3 player that plays a specific sound. 1) ActionName=Mp3PlayerAction, ActionParameters: None, Callback: None. </description>
  <version>1.0.0</version>
  <assembly>PluginExampleMusicPlayerWP8</assembly>
  <name>MusicPlayerPlugin</name>
  <class>PluginExample.MusicPlayerPlugin</class>
  <action>PluginExample.MusicPlayerAction</action>
  <startup>onDemand</startup>
</plugin>