<?xml version="1.0" encoding="utf-8" ?>
<plugin>
  <platform>win</platform>
  <description>Get gallery files. Actions are :1) ActionName=GalleryFilesAction, ActionParameters: None, Callback: json with gallery files.</description>
  <version>1.0.0</version>
  <assembly>PluginExampleGalleryFilesWin8</assembly>
  <name>PluginGalleryFiles</name>
  <class>PluginExample.GalleryFilesPlugin</class>
  <action>PluginExample.GalleryFilesAction</action>
  <startup>onDemand</startup>
</plugin>
